<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<body>
    <h5>To reset your password, click on this button below:</h5>
    <form action="/auth/reset-password" method="post">
        <input style="height:25px; background-color: white; border: 1px solid black; border-radius: 15px; font-weight: 600;" type="submit" value="Click to reset password">
    </form>
    <h5>If you did not request any password resets, then ignore this email.</h5>
</body>

</html>